# Look for 'source'd files relative to the checked script
source-path=SCRIPTDIR
# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# unused variables - PARAMS is picked up on this, that will always happen in all modules
disable=SC2034

# constructs are compatible with ash
disable=SC3060,SC3057,SC3018
