---
- name: Configure Ansible connection settings for OpenWrt
  ansible.builtin.set_fact:
    openwrt_ssh: "{{ openwrt_ssh }}"
    openwrt_scp: "{{ openwrt_scp }}"
    openwrt_ssh_user: "{{ openwrt_ssh_user }}"
    openwrt_ssh_host: "{{ openwrt_ssh_host }}"
    openwrt_user_host: "{{ openwrt_ssh_user | quote }}@{{ openwrt_ssh_host | quote }}"
    ansible_ssh_transfer_method: "{{ openwrt_ssh_transfer_method }}"
    ansible_ssh_use_tty: "{{ openwrt_ssh_use_tty }}"
    ansible_scp_if_ssh: "{{ openwrt_scp_if_ssh }}"
    ansible_remote_tmp: "{{ openwrt_remote_tmp }}"
  tags: always

- name: Install recommended packages
  when: openwrt_install_recommended_packages | bool
  block:
    - name: Check for opkg availability
      community.openwrt.command:
        cmd: which opkg
      register: _opkg_available
      check_mode: false
      changed_when: false
      failed_when: false

    - name: Check for apk availability
      community.openwrt.command:
        cmd: which apk
      register: _apk_available
      check_mode: false
      changed_when: false
      failed_when: false

    - name: Check for package manager availability
      ansible.builtin.set_fact:
        openwrt_package_manager: "{{ 'apk' if _apk_available.rc == 0 else 'opkg' if _opkg_available.rc == 0 else None }}"
      failed_when: not openwrt_package_manager

    - name: Install recommended packages for module compatibility
      ansible.builtin.include_tasks: packages-{{ openwrt_package_manager }}.yml
